* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: xx-large;
}

body {
    background: url(http://tulkindom.ru/d/438576/d/1940222201_7.jpg);
    color: #eadcc1;
    text-shadow: #423c6d 0px 1px 10px;
}

#login-page {
    box-sizing: border-box;
    margin: 0px auto;
    width: 400px;
    text-align: center;
    padding: 100px 0px;
}

form {
    background: url(http://tulkindom.ru/d/438576/d/1940203801_7.jpg);
    border-radius: 20px;
    padding: 50px 10px 20px;
    box-shadow: #7a839e 0px 2px 15px;
}

input {
    padding: 10px;
    background: url(http://tulkindom.ru/d/438576/d/1940204401_7.jpg);
    background-size: 10%;

    border-radius: 10px;
    /*    box-shadow: #554343 1px 1px 2px;*/
}

h3 {
    font-family: 'Calibri';
    text-shadow: #423c6d 0px 1px 10px;
}

label {
    font-family: 'Calibri Light';
}

button {
    margin: 20px 10px;
    font-size: 1em;
    padding: 10px 15px;
    background: url(http://tulkindom.ru/d/438576/d/1940203401_7.jpg);
    background-size: 10%;
    color: #eadcc1;
    border-radius: 5px;
}
